<html>
  <head>
    <title>Release Notes</title>
    <style>
    * { font-family: serif; font-size: 100%; }
    h1 { font-family: sans-serif; font-weight: bold; }
    h1 span { font-size: 75%; font-weight: normal; float: right;}
    </style>
  </head>
  <body>
    <%= release_notes_html %>
  </body>
</html>